@tailwind base;
@tailwind components;
@tailwind utilities;
/* Animation for the Popup */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
